#survey{
    background-color: #556b2f;
    text-align: center;
    color: white;
    text-decoration: underline;
    border: rgb(255, 255, 255) 5px solid;
    border-radius: 10px;
    font-size: 45px;
    width: 100%;
}
#yoyo{
    border: 3px black solid;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    border-radius: 5px;
   
}

.gogo{
    background-color: darkolivegreen;
     color: white;
     align-items: center;
}
#div1{
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
h3{
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    text-decoration: underline;
    color: darkolivegreen;
}
#div4,#div2,#div3,#div5{
    padding-left: 50px; 
    padding-right: 70px;
    margin-right: 130px;
    margin-left: 20px;
}
#survey{
    padding-bottom: 35px;
    padding-top: 20px;
}
input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
}
#deep{
    padding-left: 50px; 
    padding-right: 70px;
    margin-right: 130px;
    margin-left: 20px;
}
p{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkolivegreen;
}
#div6{
    position: absolute;
    right: 100px;
}
#submit{
    width: 70%;
    padding-bottom: 25px;
    padding-top: 28px;
    padding-left: 20px;
    margin-left: 200px;
    background-color: #556b2f;
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
    border: none;
}
#submit:hover{
    text-decoration: underline white;
    background-color: yellowgreen;
    cursor: pointer;
} 
#youtube{
    color: red;
}   
#telegram{
    color: #0088cc;
}
#linkedin{
   color: #0e76a8;
}
#pinterest{
   color: #E60023;
}
#github{
    color:  #211F1F;
}
#reddit{
    color: #FF4500;
}
#ios{
    color: #00B2FF;
}
#twitter{
   color:  #1DA1F2;
}
#googleplay{
    color: #3bccff ,  #48ff48 , #ffd400 , #ff3333;
}
#area,#div7{
    padding-left: 50px; 
    padding-right: 70px;
    margin-right: 130px;
    margin-left: 20px;
}
#area1:hover{
    border: cornflowerblue solid 2px;
}
#area2:hover{
    border: cornflowerblue solid 2px;
}
#area3:hover{
    border: cornflowerblue solid 2px;
}
#ios:hover{
    box-shadow: 5px 10px 18px black;
    cursor: pointer;
}
#googleplay:hover{
    cursor: pointer;
    box-shadow: 5px 10px 19px black;
}
#github:hover{
    cursor: pointer;
    box-shadow: 5px 10px 19px black;
}
#pinterest:hover{
    cursor: pointer;
}
#youtube:hover{
    cursor: pointer;
}
::-webkit-scrollbar{
    width: 10px;
}
 ::-webkit-scrollbar-track{
     background: blanchedalmond;
     border-radius: 6px;
    
}
 ::-webkit-scrollbar-thumb{
     background-color: darkolivegreen;
     border-radius: 6px;
 }
 

